<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NASroot" value="/Users/Steven/temp/MKII/" />
		<add key="Codecs" value="mp4,avi,mvk,m4v" />
		<add key="regexSeriesSeasonEpisode" value="^(.*) - \[([0-9]+)x([0-9]+)\] - (.*)\.(avi|mp4|mkv|m4v)$" />
		<add key="Source" value="/Users/Steven/Documents/Torrent Downloads/_Processed/"/>
		<add key="CacheBuffer" value="1200000"/>
	</appSettings>
</configuration>
